[submodule "vendor/Symfony/Component/Finder"]
	path = vendor/Symfony/Component/Finder
	url = https://github.com/symfony/Finder
[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader
[submodule "vendor/Symfony/Component/HttpFoundation"]
	path = vendor/Symfony/Component/HttpFoundation
	url = https://github.com/symfony/HttpFoundation
[submodule "vendor/Symfony/Component/HttpKernel"]
	path = vendor/Symfony/Component/HttpKernel
	url = https://github.com/symfony/HttpKernel
[submodule "vendor/Symfony/Component/Routing"]
	path = vendor/Symfony/Component/Routing
	url = https://github.com/symfony/Routing
[submodule "vendor/Symfony/Component/EventDispatcher"]
	path = vendor/Symfony/Component/EventDispatcher
	url = https://github.com/symfony/EventDispatcher
[submodule "vendor/Symfony/Component/BrowserKit"]
	path = vendor/Symfony/Component/BrowserKit
	url = https://github.com/symfony/BrowserKit
[submodule "vendor/Symfony/Component/DomCrawler"]
	path = vendor/Symfony/Component/DomCrawler
	url = https://github.com/symfony/DomCrawler
[submodule "vendor/Symfony/Component/CssSelector"]
	path = vendor/Symfony/Component/CssSelector
	url = https://github.com/symfony/CssSelector
[submodule "vendor/pimple"]
	path = vendor/pimple
	url = https://github.com/fabpot/Pimple
[submodule "vendor/twig"]
	path = vendor/twig
	url = https://github.com/fabpot/Twig
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "vendor/Symfony/Component/Process"]
	path = vendor/Symfony/Component/Process
	url = https://github.com/symfony/Process
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = https://github.com/doctrine/common
[submodule "vendor/doctrine-dbal"]
	path = vendor/doctrine-dbal
	url = https://github.com/doctrine/dbal
